<html>
    <head>
        <title>[title][jb_name]</title>
        <meta name="robots" content="index, follow" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="charset" content="UTF-8" />
        [favicon]
        [jb_css]
    </head>
    <body>
        <div id="wrapper-main">
            <header>
                <h1>
                    <a href="[site_url]" title="[site_title]">[site_name]</a>
                </h1>
                <a href="[jb_url]" id="jb-shield" title="[jb_title]">[jb_name]</a>
            </header>
            <div id="content">[content]</div>
            <nav id="breadcrumbs">[navigation]</nav>
            <nav id="menu">[include:[jb_lang]_special/menu.html]</nav>
            <footer>
                <p id="copyright">[copyright]</p>
            </footer>
        </div>
        [jb_menu]
        [jb_js]
    </body>
</html>
