<html style="background-color: #000">
    <head>
        <title>[title], [jb_name]</title>
        [favicon]
        [jb_css]
    </head>
    <body style="background-color: #000; color: #fff;">
        <header>
            <h1>
                <a href="[site_url]" title="[site_title]">[site_name]</a>
            </h1>
            <a href="[jb_url]" id="jb-shield" title="[jb_title]">[jb_name]</a>
        </header>
        <div id="content">[content]</div>
        <nav id="breadcrumbs">[navigation]</nav>
        [jb_menu]
        [jb_js]
    </body>
</html>
