body {
    line-height: 1.7em;
}
p {
    padding: 0 1em .5em;
}
p:first-child {
    padding-top: .5em;
}
ul, ol {
    padding: 0.5em 1em 0;
    margin-left: 2em;
}
    li {
        padding-bottom: 0.5em;
    }
    ul li {
        list-style-type: disc;
    }
    ol li {
        list-style-type: decimal;
    }
.xinha-dark-box {
    background-color: rgba(0,0,0,0.4);
}
