body {
    line-height: 1.7em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1em;
}
a:hover {
    text-decoration: underline;
}
p {
    padding: 0 1em .5em;
}
p, li, td, a, span, strong {
    line-height: 2em;
}
p:first-child {
    padding-top: .5em;
}
p.error {
    background-color: rgba(101,0,0,0.5);
    border: 1px solid #ab0000;
    width: 50%;
    margin: 0.5em auto 1em;

}
strong, b {
    font-weight: bold;
}
em, i {
    font-style: italic;
}
del, strike, s {
    text-decoration: line-through;
}
small {
    font-size: 0.8em;
}
ul, ol {
    padding: 0.5em 1em 0;
    margin-left: 2em;
}
    li {
        padding-bottom: 0.5em;
    }
    ul li {
        list-style-type: disc;
    }
    ol li {
        list-style-type: decimal;
    }
.xinha-dark-box {
    background-color: rgba(0,0,0,0.4);
}

ul.xinha-horizontal-menu {
    width: 90%;
    height: 2em;
    overflow: hidden;
    margin-left: 5%;
    padding: 0;
}
    ul.xinha-horizontal-menu li {
        list-style-type: none;
        float: left;
        height: 2em;
        line-height: 2em;
        padding: 0;
    }
