/* content edit form */
#form-edit {
    padding-top: 2em;
}
    #form-edit div#box-title {
        width: 100%;
        padding-bottom: 2em;
    }
        #form-edit label[for=title],
        #form-edit label[for=content] {
            display: none;
        }
        #form-edit div#box-title input {
            width: 100%;
            height: 2em;
            padding: 0.5em;
            line-height: 2em;
            font-size: 2em;
        }
        #form-edit textarea {
            width: 100%;
        }
        #form-edit div#box-content textarea {
            width: 100%;
            height: 650px;
        }
.dialog th,
.dialog label {
    color: #000;
}

/* Xinha - CSSPicker */
.CSSPickerOption {
    border: 2px solid gray;
    margin: 0.1em;
    padding: 0.1em;
}
.CSSPickerOptionOver {
    border: 2px solid steelblue;
}

/* InsertSnippet2 */
.ISsnippettable {
    color: #000;
}
