#wrapper-main {
    width: 90%;
    margin: 2em auto;
    position: relative;
}
    /* header */
    header {
        height: 150px;
        margin-bottom: 2em;
        width: 100%;
        position: relative;
    }
        header h1 {
            display: block;
            height: 1em;
            width: 12em;
            position: absolute;
            top: 50%;
            left: 250px;
            margin-top: -0.5em;
            font-size: 3em;
            line-height: 1em;
        }
        header #jb-shield {
            display: block;
            height: 129px;
            width: 100px;
            margin: 0;
            padding: 0;
            position: absolute;
            left: 0;
            top: 10px;
            background: transparent url("../../common/logo_jb.png") 0 0 no-repeat;
            text-indent: -1000em;
        }

    /* breadcrumbs */
    #breadcrumbs {
        position: absolute;
        top: 150px;
        height: 2em;
        width: 50%;
        overflow: hidden;
    }
        #breadcrumbs ul {
            height: 2em;
            width: 100%;
            padding: 0;
            margin: 0;
        }
            #breadcrumbs li {
                float: left;
                height: 2em;
                padding: 0;
                list-style-type: none;
            }
            #breadcrumbs li:before {
                content: "/";
                float: left;
                height: 2em;
                width: 1em;
                text-align: center;
            }
            #breadcrumbs li:first-child:before {
                display: none;
            }

    /* news list, news and news archive */
        .news-list .news {
            padding-top: 1em;
        }
            .news-metadata {
                font-size: 0.8em;
                padding: 0;
            }
            .news-more a:after {
                content: " »";
            }
        .news-list .news-archive-button {
            padding: 1em;
            height: 2em;
        }
            .news-list .news-archive-button a {
                display: block;
                float: right;
                height: 2em;
                width: 7em;
                text-align: center;
                line-height: 2em;
            }
        .news-archive {
            width: 100%;
            margin: 1em auto;
        }
            .news-archive ul {
                padding: 0;
                margin-left: 1em;
                margin-top: 0.5em;
            }
                .news-archive li {
                    list-style-type: none;
                    height: 3.4em;
                    padding: 0;
                }
                .news-archive > ul > li > strong {
                    display: block;
                    height: 1.5em;
                    line-height: 1.5em;
                }
                    .news-archive li ul {
                        height: 1.5em;
                        padding: 0.2em;
                        margin-top: 0;
                        margin-bottom: 0;
                        width: 100%;
                    }
                        .news-archive li li {
                            height: 1.5em;
                            float: left;
                        }
                            .news-archive li li a,
                            .news-archive li li span,
                            .news-archive li li strong {
                                display: block;
                                line-height: 1.5em;
                                height: 1.5em;
                                padding: 0 0.3em;
                            }
