/* formularze - ogólnie */
form { font-size: 12px; margin: 5px 1px; clear: both; }
	form fieldset { padding: 5px; margin: 0 auto; overflow: hidden; border: 1px solid #cccccc; }
		form fieldset legend { font-weight: bold; font-style: normal; }
		form div { clear: both; overflow: hidden; padding: 5px 0 5px 9px; margin-bottom: 3px; }
		form .error_message { font-size: 11px; font-weight: bold; color: #B62257; }
		form div.required { border-left: 5px #f8f9f2 solid; padding-left: 4px; }
		form .error, form .error.required { border-left: 5px #B62257 solid; padding-left: 4px; }
		form fieldset div p.desc, form fieldset div p.currentGfx { clear: left; font-size: 10px; color: #555; }
			form fieldset div input, form fieldset textarea, form fieldset select { font-family: Verdana, serif; font-size: 11px; display: block; float: left; margin-top: 6px; }
			form fieldset div input, form fieldset textarea { padding: 5px; }
			form fieldset .text input, form fieldset .file input, form fieldset .password input, form fieldset textarea, form fieldset select { width: 70%; }
			form fieldset div.multiselect select { height: 125px; width: 35% }
			form fieldset div.multiselect select[multi_side=right] { margin-right: 10px; }
			form fieldset input[type=hidden] { display: none; }
		form fieldset div.submit { float: left; clear: none; width: 50%; }
			form fieldset .submit input { font-weight: bold; padding: 11px; }
			form fieldset textarea { height: 200px; }
			form fieldset label { cursor: pointer; display: block; width: 20%; float: left; }
			form fieldset .check {  }
			form fieldset .check label, form fieldset .radio label { }
/* filtr */
form#filter { width: 782px; margin: 10px auto; }
	form#filter fieldset div { width: 365px; float: left; clear: none; padding: 0 10px; }
		form#filter fieldset div label { width: 30%; }
		form#filter fieldset div select { width: 70%; }
	form#filter fieldset div.submit { width: 365px; }

/* xinha */
form table div { clear: both; overflow:hidden; padding: 0; margin-bottom: 0; line-height: 20px; font-size: 12px; }
form table.htmlarea, form table.htmlarea table, form table.htmlarea select { clear: none; width: auto; }
    form table.htmlarea div label { width: 90%; }